# Python virtual environments
.venv/
venv/
ENV/

# Poetry
dist/
**/*.pyc
__pycache__/
.poetry/
requirements.generated.txt

# Cache directories
.cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Coverage reports
.coverage
coverage.xml
report.xml
htmlcov/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Build directories
build/
*.egg-info/

# DBT
target/
dbt_packages/
logs/

# Jupyter
**/*.ipynb_checkpoints/
**/*.ipynb

# System files
.DS_Store
Thumbs.db

# VPN
/connect.sh
*.ovpn
*.p12

poetry.toml
mise.toml

# Artefatos locais do dbt
airflow/dags/dbt/**/target/
airflow/dags/dbt/**/dbt_packages/
airflow/dags/dbt/**/package-lock.yml
airflow/dags/dbt/**/logs/
airflow/dags/dbt/.user.yml
